{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block head %}

<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>


{% endblock %}

{% block header %}{% endblock %}

{% block body %}

<div class="container">
    <h1>Add Property</h1>
    <div class="row">
        <div class="col d-flex justify-content-sm-center">
            <form action="/Add-Image/{{prop_id}}" method="POST">
                <div class="mb-3">
                    {{ form.hidden_tag() }}
                    {{ wtf.form_field(form.imageURL) }}
                  <!--<input type="text" class="form-control" id="PropAddress" name="PropAddress" value="" placeholder="Address">-->
                </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            
        </div> 
    </div>
</div>

{% endblock %}